body {
  text-align: center;
  background-color: #456;
  font-family: 'Source Sans Pro', sans-serif;
}

.App-header {
  background-color: #000;
  height: 160px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-ticker {
  font-size: medium;
}

.Note {
    padding: 1px;
    font-family: 'Source Sans Pro', sans-serif;
    border: 1px solid #DDD;
    background-color: #EEE;
}

.CreateNoteButton {
    position: fixed;
    right: 5px;
    bottom: 5px;
}

.NoteButtons {
    visibility: hidden;
    position: absolute;
    right: 5px;
    top: 5px;
}

.Note:hover .NoteButtons,
.Note:hover .NoteDragHandle {
    visibility: visible;
}

.DeleteNotebutton {

}

.NoteContents {
}

.NoteDragHandle {
  visibility: hidden;
  position: absolute;
  width: 16px;
  height: 16px;
  bottom: 3px;
  left: 3px;
  background: gray;
  background-position: bottom right;
  padding: 0 5px 5px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: move;
}